<style>
    
    body {
      background-color: coral;
      color:white;
    }

    p {
      font-family: arial;

    }

    .fun-fact { 
      color:white; 
      background-color: black; }

      #meme {font-size: 5px;}


    
  </style>