nav li {
display:inline;

}
nav ul {
	text-align: center;
	background-color:blue;
}

code {
	background-color: lightgray;

}

.announcement {
	background-color: indianred;
	color: white;
}

h1,h2 {
	font-family: arial, sans serif;
	width:400px;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	font-family: "Comic Sans MS";
	font-size: 14px;
}

/* Make all list items in ordered list bigger (24px) */

ul,ol {
	font-size: 24px;
}

/* Make all code text inside black text on white background */


.announcement code { 
	color: black;
	background-color:white; }


p:last-child {
	color:blue;
	}

	/* BODY MODEL */

body {
	padding-left: 300px;
	padding-right:300px;
}

h1,h2 {
	background-color:lightgray;
	padding-left:6px;
	padding-top: 12px;
	padding-bottom:12px;
}

ul li{
	background-color:beige;
	margin-bottom:16px;}

ol li{
	background-color:beige;
	margin-bottom:12px;
}
code {
	padding-left:12px;
	padding-right:12px;
}

.announcement {
	margin-top:96px;
	margin-bottom:96px;
	padding-top:24px;
	padding-bottom:24px;
	padding-left:48px;
	padding-right:48px;
}


	/* Display blocks, inlines */


