body {
	
	background:#fff;
	padding: 20px;}

p, ul, li { 
	font-family: helvetica neue, arial, sans-serif;
	font-size: 18px;
	color:#333;
	background:#fff;
}


header {
	text-align:center;
	font-size: 18px;
	font-weight: bolder;
	color: white;
}

h1, h2, h3, h4 { 
	
	font-family: helvetica neue, arial, sans-serif;
	text-transform: uppercase;
 } 

h1 {
	font-size: 28px;
	color: #000;
	text-align:center;
}

}

h2 {
font-size: 24px;
}

h3 { 
	font-size: 22px;

}

h4{
	font-size: 20px;
	text-decoration: underline;
}	

img {
	 border:10px;
	 border-color: #fff;
	 border-radius: 15px;
	 width:800px;



}
