body {
	
	background:rgba(226, 212, 212, 0.1);
	padding: 20px;
}

p, ul, li { 
	font-family: helvetica neue, arial, sans-serif;
	font-size: 18px;
	color:#333;
	;
}

a { 
color: #002b5e;
font-weight:bold;

}

a:hover {
    color: #ff7d4f;
}

header {
	text-align:center;
	font-size: 28px;
	text-transform: uppercase;

}

hr {
	border-style: dashed;
}

h1, h2, h3, h4 { 	
	font-family: Century Gothic, arial, sans-serif;
	text-transform: uppercase;
 } 

h1 {
	font-size: 28px;
	color: #000;
	text-align:center;

}

}

h2 {
font-size: 24px;
}

h3 { 
	font-size: 20px;
}

h4 {
	font-size: 20px;
	text-decoration: underline;
}	

img {
	 
	 margin: auto;
	 border:10px;
	 border-color: #000;
	 border-radius:15px;
	 width:100%;
	}

.thumb-img{
	margin: auto;
	 border-radius:15px;
	 width:50%;
	 box-shadow:4px 3px #999;


}

