body, button{
  color:white;
  font-family: Open Sans;
  font-size:26px;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


h1,h2, button{
  font-weight: bolder; 
}

header{
  height: 400px;
  padding: 100px 100px 100px 100px;
  background-color: lightblue;
  background:url(../images/header_bg.jpg);
  background-size: cover;
}


header h2 {
  text-align:center;
  margin-top: 5px;
  font-weight:normal;
}

header button {
  text-align:center;
  margin: auto;
  display:block;
  border:none;
  border-radius: 5px;
  background-color:gold;
  color:midnightblue;
  padding: 5px 25px 5px 25px;
}

#value-proposition {
  height: 400px;
  background-color: midnightblue;
  display:block;
  padding: 100px 100px 100px 100px;
}

.images1 {
  display:inline;
  float:left;
  width:33%;
  text-align:center;
}


#benefits {
  height: 400px;
  padding: 100px 100px 100px 100px;
  background-color: white;
  color:#000;
}

#benefits h1 {
  font-weight:normal;
  font-size:48px;
  color:midnightblue;
}

#benefits h2 {
  font-weight:normal;
  color:midnightblue;
}

#benefits ul{
 padding-left:45px;
}
.future,.today {
float:left;
width:50%;
}

#testimonial {
  height: 400px;
  padding: 100px 100px 100px 100px;
  background-color: papayawhip;
  background:url(../images/testimonial_bg.jpg);
}

#testimonial .quoteblock{
  font-size:48px;
  font-style:italic;
  text-align:center;
  padding:50px;
}

#testimonial p{
  font-size:48px;
  font-weight:bold;
  text-align:center;
  padding-top:-15px;
}

aside {
  height: 50px;
  padding: 50px 50px 50px 50px;
  background-color: midnightblue;
}

aside button{
  text-align:center;
  margin: auto;
  border-radius: 5px;
  border:none;
  background-color:gold;
  color:midnightblue;
  padding: 5px 15px 5px 15px;
  display:block;
}

footer {
  height: 300px;
  padding-top: 25px;
  padding-right:100px;
  padding-left:100px;
  background-color: #000;
  color:#fff;
  display:block;
}

.footer-images {
text-align:center;
}

.copyright {
  text-align:center;
}


footer h2{
   text-align:center;
 }
